$color-primary: #666666; //grey
$color-secondary: #dc0000; //red
$color-font: #7f7f7f; // lighter grey
$color-plain: #fff; //white


// mixins ---------------------------/

@mixin ad {
	text-transform: uppercase;
	color: $color-plain;
}

@mixin red-title {
	color: red;
	text-transform: uppercase;
	padding: 3% 0;
}

@mixin trending {
	color: $color-font;
	letter-spacing: 1px;
	padding: 3% 0;
}

// buttons ---------------------------/

.btn {
	background-color: $color-plain;
	color: $color-primary;
	border-radius: 0;
	&-custom {
		background-color: transparent;
		border: 2px solid $color-plain;
		width: 150px;
		text-transform: uppercase;
		font-size: 15px;
		color: $color-plain;
		&:hover {
			background-color: $color-plain;
			color: $color-secondary;
		}
	}
	&-custom2 {
		margin: 10px 0;
	    width: 147px;
	    border: 1px solid #6c757d;
	    text-transform: uppercase;
	    &:hover {
	    	background-color: $color-primary;
	    	color: $color-plain;
	    }
	}
	&-custom3 {
		margin: 10px 0;
	    width: 250px;
	    border: 1px solid #6c757d;
	    text-transform: uppercase;
	    &:hover {
	    	background-color: $color-primary;
	    	color: $color-plain;
	    }
	}
	&-secondary {
		margin: 10px 20px 10px 0;
    	width: 60px;
    	&:focus {
    		background-color: $color-primary;
    		color: $color-plain;
    	}
    }
}

// General ---------------------------/

hr {
	width: 100px;
	&.style1 {
		border-top: 3px solid rgba(255,0,0,1);
	}
	&.style2 {
		border: 1px solid #fff;
	}
	&.style3 {
		border: 1px solid black;
		width: 25px;
		margin-left: 0;
	}
	&.style4 {
		width: 100%;
	}
}

.sub-header {
	color: $color-primary;
	text-align: center;
	font-size: 40px;
}

img {
	width: 100%;
}


// Navigation ---------------------------/

.logo {
	font-size:28px;
	color: $color-secondary;
	text-transform: uppercase;
	&-2 {
		font-size: 20px;
	}
}

.navbar li a {
	color: $color-plain;
}



// Advert ---------------------------/

.jumbotron {
	height: 700px;
	padding: 0;
	text-align: center;
}

.image {
	background-image: url('../img/slider-bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay:before{
  	position: absolute;
  	content:" ";
  	top:0;
 	left:0;
 	width:100%;
 	height:100%;
 	display: block;
 	z-index:0;
 	background-color: rgba(0,0,0,0.5);
}

.ad {
	height: 600px;
	padding: 18% 0;
	position: relative;
}

.collection {
	@include ad;
	font-size: 20px;
	letter-spacing: .45em;
}

.arrivals {
	@include ad;
	font-size: 50px;
}

.lead {
	@include ad;
	font-size: 20px;
}


//  Latest Products ---------------------------/

.card {
	display: flex;
}

.card-img-overlay {
	background-color: black;
	display: flex;
    opacity: .7;
    position: absolute;
   	justify-content: center;
	align-items: center;
}

.border {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 90%;
	margin: auto;
	border: 1px solid #fff !important;
}

.card-title {
	font-size: 34px;
}


//  Offers ---------------------------/

.offers,
.sale  {
	display: flex;
}

.sale {
	flex-direction: column;
	text-align: center;
	&-title {
		width: 70%;
	}
}

.autumn {
	font-size: 2.5em;
	padding: 2%;
}

.mega {
	text-transform: uppercase;
}


.row {
	margin: 5% 0;
}

//  Trending ---------------------------/


.trend {
	background: url('../img/background.png');
}

.carousel-content {
	padding: 1% 0;
}

.trending_content {
	h4 {
		@include red-title;
	}
	h5 {
		font-size: 1em;
		@include trending;
	}
	p {
		@include trending;
	}
}


//  blog ---------------------------/

.blog {
	h3 {
		@include red-title;
	}
	span {
		color: $color-primary;
	}
	p {
		color: #949494;
		letter-spacing: 0.5px;
	}
}


//  subscribe ---------------------------/

.subscribe {
	background: url('../img/subscribe.png') no-repeat;
	height: 250px;
	display: flex;
	align-items: center;
	h5 {
		color: $color-plain;
		text-transform: uppercase;
		padding: 10px 0;
	}
}

input {
	background-color: transparent;
	width: 70%;
	padding: .2rem .75rem .375rem .75rem;
}









