$color-primary: #666666; //grey
$color-secondary: #dc0000; //red
$color-font: #7f7f7f; // lighter grey
$color-plain: #fff; //white

// General ---------------------------/

.btn-custom {
	border: 2px solid $color-plain;
	width: 150px;
	text-transform: uppercase;
	font-size: 15px;
	color: $color-plain;
	&:hover {
	background-color: $color-plain;
	color: $color-secondary;
	}
}

hr.style1 {
	border-top: 3px solid rgba(255,0,0,1);
	width: 100px;
}

.sub-header {
	color: $color-primary;
	text-align: center;
	font-size: 40px;
}

img {
	width: 100%;
}


// Navigation ---------------------------/

.logo, 
.logo-2 {
	color: $color-secondary;
	text-transform: uppercase;
}

.logo {
	font-size:28px;
}

.logo-2 {
	font-size: 20px;
}

.navbar li a {
	color: $color-plain;
}



// Advert ---------------------------/

.jumbotron {
	height: 700px;
	padding: 0;
	text-align: center;
}

.image {
	background-image: url('../img/slider-bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay:before{
  	position: absolute;
  	content:" ";
  	top:0;
 	left:0;
 	width:100%;
 	height:100%;
 	display: block;
 	z-index:0;
 	background-color: rgba(0,0,0,0.5);
}

.ad {
	height: 600px;
	padding: 18% 0;
	position: relative;
}

.collection {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: .45em;
	color: $color-plain;
}

.arrivals {
	font-size: 50px;
	text-transform: uppercase;
	color: $color-plain;
}

.lead {
	font-size: 20px;
	text-transform: uppercase;
	color: $color-plain;
}


//  Latest Products ---------------------------/

.card {
	display: flex;
}

.card-img-overlay {
	background-color: black;
	display: flex;
    opacity: .7;
    position: absolute;
   	justify-content: center;
	align-items: center;
}

.border {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 90%;
	margin: auto;
	border: 1px solid #fff !important;
}

.card-title {
	font-size: 34px;
}


//  Offers ---------------------------/

.offers,
.sale  {
	display: flex;
}

.sale {
	flex-direction: column;
	text-align: center;
	&-title {
		width: 70%;
	}
}

.autumn {
	font-size: 2.5em;
	padding: 2%;
}

.mega {
	text-transform: uppercase;
}


.row {
	margin: 5% 0;
}

hr.style2 {
	border: 1px solid #fff;
	width: 100px;
}



//  Trending ---------------------------/


.trend {
	background: url('../img/background.png');
}

.carousel-content {
	padding: 1% 0;
}

.trending_content {
	h4 {
		color: red;
		text-transform: uppercase;
		padding: 3% 0;
	}
	h5 {
		font-size: 1em;
		letter-spacing: 1px;
		color: $color-font;
		padding: 3% 0;
	}
	p {
		color: $color-font;
		letter-spacing: 1px;
		padding: 3% 0;
	}
}

hr.style3 {
	border: 1px solid black;
	width: 25px;
	margin-left: 0;
}

.btn-secondary {
	background-color: $color-plain;
	color: $color-primary;
	margin: 10px 20px 10px 0;
    width: 60px;
    &:focus {
    	background-color: $color-primary;
    	color: $color-plain;
    }
}

.btn-custom2 {
	background-color: $color-plain;
	color: $color-primary;
	margin: 10px 0;
    width: 147px;
    border: 1px solid #6c757d;
    &:hover {
    	background-color: $color-primary;
    	color: $color-plain;
    }
}











